<<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>history</title>
</head>
<body>

    <h1>Welcome {{usernames}}</h1>
    
    {%for get_spends in transactionsfs.values()%}
    <h1>-/+: {{get_spends}}</h1>
    {%endfor%}

    <a href="/edit">get/spend</a><br>
    <a href="/home">home</a></h1>
    

    <h2>Last Transactions:</h2>
    

    
    <h4>{{howmuch}} {{getspend}} {{whattype}}</h4>
    <br>
    


    

</body>
</html>